.home{
  width: 100%;
  max-width: 1150px;
}
.homeMain{
  margin-top: 20px;
  display: flex;
  width: 100%;
  gap: 50px;
  position: relative;
}
.contentContainer{
  display: flex;
  flex-direction: column;
  gap: 10px;
}